In [2]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\sliit\3rd year 2nd semester july\fdm\fdm project\mobile phone price prediction\model\env\lib\site-packages (1.26.0)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2d/5e/9213ea10ac473e2437dc2cb17323ddc0999997e2713d6a0b683b10773994/pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata
  Using cached pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\sliit\3rd year 2nd semester july\fdm\fdm project\mobile phone price prediction\model\env\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\sliit\3rd year 2nd semester july\fdm\fdm project\mobile phone price prediction\model\env\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\sliit\3rd year 2nd semester july\fdm\fdm project\mobile phone price prediction\model\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.1.1-cp311-cp311-win_amd64.whl (10.6 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

In [1]:
import numpy as np
import pandas as pd

In [50]:
url = 'https://raw.githubusercontent.com/ZaidhShafrazIT21039072/FDM_2023_G05/main/fdm_dataset.csv'
data = pd.read_csv(url, encoding='latin-1')
data.head()

,Phone_ID,Brand,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($)
0,1,Oppo A17,4.3,4.0,64.0,6.4,64.0,48.0,6500.0,649
1,2,Vivo Y81,3.4,4.0,48.0,5.8,64.0,48.0,5300.0,750
2,3,Redmi A9,4.3,4.0,64.0,6.1,48.0,32.0,4000.0,449
3,4,Samsung Galaxy A50,4.4,4.0,64.0,6.4,48.0,32.0,5500.0,609
4,5,Nokia 415,4.5,2.0,24.0,3.7,16.0,12.0,3000.0,249

In [51]:
data.shape

(1365, 10)

In [52]:
data.isnull()

,Phone_ID,Brand,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($)
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1360,False,False,False,False,True,False,False,True,True,False
1361,False,False,False,False,False,True,False,False,False,False
1362,False,False,False,False,False,False,False,False,False,False
1363,False,False,False,False,False,False,False,False,False,False
1364,False,False,False,False,False,False,False,False,False,False

In [53]:
data.isnull().sum()

Phone_ID           0
Brand              0
Ratings           45
RAM              101
ROM               90
Mobile_Size       94
Primary_Cam      109
Selfi_Cam        101
Battery_Power    117
Price($)           0
dtype: int64

In [54]:
data.shape

(1365, 10)

In [55]:
data = data.dropna()

In [56]:
data.shape

(833, 10)

In [57]:
data.isnull().sum()

Phone_ID         0
Brand            0
Ratings          0
RAM              0
ROM              0
Mobile_Size      0
Primary_Cam      0
Selfi_Cam        0
Battery_Power    0
Price($)         0
dtype: int64

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 833 entries, 0 to 1364
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Phone_ID       833 non-null    int64
 1   Brand          833 non-null    object
 2   Ratings        833 non-null    float64
 3   RAM            833 non-null    float64
 4   ROM            833 non-null    float64
 5   Mobile_Size    833 non-null    float64
 6   Primary_Cam    833 non-null    float64
 7   Selfi_Cam      833 non-null    float64
 8   Battery_Power  833 non-null    float64
 9   Price($)       833 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 71.6+ KB

In [59]:
data['RAM'] = data['RAM'].astype('int32')

In [60]:
data.head(2)

,Phone_ID,Brand,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($)
0,1,Oppo A17,4.3,4,64.0,6.4,64.0,48.0,6500.0,649
1,2,Vivo Y81,3.4,4,48.0,5.8,64.0,48.0,5300.0,750

In [61]:
data['ROM'] = data['ROM'].astype('int32')

In [62]:
data['Price($)'] = data['Price($)'].astype('float64')

In [63]:
data['Battery_Power'] = data['Battery_Power'].astype('int32')

In [64]:
data['Selfi_Cam'] = data['Selfi_Cam'].astype('int32')

In [65]:
data['Primary_Cam'] = data['Primary_Cam'].astype('int32')

In [66]:
data.head(2)

,Phone_ID,Brand,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($)
0,1,Oppo A17,4.3,4,64,6.4,64,48,6500,649.0
1,2,Vivo Y81,3.4,4,48,5.8,64,48,5300,750.0

In [67]:
data['Brand'].value_counts()

Brand
  Nokia  415              85
  Nokia  216              81
  Oppo  A9                81
  Vivo  Y81               75
  Redmi A9                73
Oppo  A17                 68
  Vivo  V21               59
  Samsung  Galaxy A50     57
Redmi K20                 53
  Apple iPhone 12         45
  Apple iPhone 11 Pro     42
  Samsung  Galaxy A70     41
  Samsung  Galaxy S20+    40
  Apple iPhone 11         33
Name: count, dtype: int64

In [68]:
data['brand_name']=data['Brand'].apply(lambda x:' '.join(x.split()[0:1]))
#data['model']=data['Brand'].apply(lambda x:''.join(x.split()[1:4]))

In [69]:
data['brand_name'].value_counts()

brand_name
Nokia      166
Oppo       149
Samsung    138
Vivo       134
Redmi      126
Apple      120
Name: count, dtype: int64

In [70]:
data.head(2)

,Phone_ID,Brand,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($),brand_name
0,1,Oppo A17,4.3,4,64,6.4,64,48,6500,649.0,Oppo
1,2,Vivo Y81,3.4,4,48,5.8,64,48,5300,750.0,Vivo

In [71]:
data['Mobile_Size'].value_counts()

Mobile_Size
6.4    247
6.1    159
3.7     85
3.4     81
5.8     75
6.0     59
6.2     45
6.3     42
6.5     40
Name: count, dtype: int64

In [72]:
data['Primary_Cam'].value_counts()

Primary_Cam
48    316
64    306
16     85
12     81
36     45
Name: count, dtype: int64

In [73]:
data['Selfi_Cam'].value_counts()

Selfi_Cam
48    306
32    230
24    131
12     85
8      81
Name: count, dtype: int64

In [74]:
data['Battery_Power'].value_counts()

Battery_Power
6500    191
5500    190
3000     85
2500     81
5300     75
4000     73
5000     53
6000     45
7000     40
Name: count, dtype: int64

In [75]:
data=data.drop(columns=['Brand','Phone_ID'])

In [76]:
data.head()

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($),brand_name
0,4.3,4,64,6.4,64,48,6500,649.0,Oppo
1,3.4,4,48,5.8,64,48,5300,750.0,Vivo
2,4.3,4,64,6.1,48,32,4000,449.0,Redmi
3,4.4,4,64,6.4,48,32,5500,609.0,Samsung
4,4.5,2,24,3.7,16,12,3000,249.0,Nokia

In [77]:
#model building
x= data.drop('Price($)',axis=1)
y= data['Price($)']

In [78]:
#one-hot-encoding
data = pd.get_dummies(data)

In [79]:
data.head()

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price($),brand_name_Apple,brand_name_Nokia,brand_name_Oppo,brand_name_Redmi,brand_name_Samsung,brand_name_Vivo
0,4.3,4,64,6.4,64,48,6500,649.0,False,False,True,False,False,False
1,3.4,4,48,5.8,64,48,5300,750.0,False,False,False,False,False,True
2,4.3,4,64,6.1,48,32,4000,449.0,False,False,False,True,False,False
3,4.4,4,64,6.4,48,32,5500,609.0,False,False,False,False,True,False
4,4.5,2,24,3.7,16,12,3000,249.0,False,True,False,False,False,False

In [80]:
x = data.drop('Price($)', axis=1)
y= data['Price($)']

In [50]:
!pip install scikit_learn

Collecting scikit_learn
  Obtaining dependency information for scikit_learn from https://files.pythonhosted.org/packages/f1/7d/2e562207176a5dcdad513085670674bb11ffaf37e1393eacb6d7fb502481/scikit_learn-1.3.1-cp311-cp311-win_amd64.whl.metadata
  Using cached scikit_learn-1.3.1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\sliit\3rd year 2nd semester july\fdm\fdm project\mobile phone price prediction\model\env\lib\site-packages (from scikit_learn) (1.26.0)
Collecting scipy>=1.5.0 (from scikit_learn)
  Obtaining dependency information for scipy>=1.5.0 from https://files.pythonhosted.org/packages/81/d7/d2537d51efb692d0c411e64267ba349e7668d40f5bc73cefe78ccd650dcd/scipy-1.11.3-cp311-cp311-win_amd64.whl.metadata
  Using cached scipy-1.11.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.1.1 (from scikit_learn)
  Obtaining dependency information for joblib>=1.1.1 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit_learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Using cached threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Using cached scikit_learn-1.3.1-cp311-cp311-win_amd64.whl (9.2 MB)
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Using cached scipy-1.11.3-cp311-cp311-win_amd64.whl (44.1 MB)
Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit_learn
Successfully installed joblib-1.3.2 scikit_learn-1.3.1 scipy-1.11.3 threadpoolctl-3.2.0

In [106]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [107]:
x_train.shape , x_test.shape

((624, 13), (209, 13))

In [108]:
def model_accuracy(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+'-->'+str(acc))

In [109]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

model_accuracy(lr)

LinearRegression()-->0.9914838144048042

In [91]:
from sklearn.linear_model import Lasso

lasso = LinearRegression()

model_accuracy(lasso)

LinearRegression()-->0.9917699176425746

In [92]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()

model_accuracy(dt)

DecisionTreeRegressor()-->0.9979578961639507

In [93]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()

model_accuracy(rf)

RandomForestRegressor()-->0.9979798215229754

In [125]:
from sklearn.model_selection import GridSearchCV
parameters = {
    'fit_intercept': [True],
    'copy_X': [True, False],
}

grid_obj = GridSearchCV(lr, parameters, cv=5, scoring='neg_mean_squared_error')


grid_fit = grid_obj.fit(x_train, y_train)
best_model =grid_fit.best_estimator_
best_model

LinearRegression()

In [126]:
best_model.score(x_test, y_test)

0.9914838144048042

In [127]:
import pickle
with open('predictor.pickle','wb') as file:
    pickle.dump(best_model, file)

In [128]:
x_train.columns

Index(['Ratings', 'RAM', 'ROM', 'Mobile_Size', 'Primary_Cam', 'Selfi_Cam',
       'Battery_Power', 'brand_name_Apple', 'brand_name_Nokia',
       'brand_name_Oppo', 'brand_name_Redmi', 'brand_name_Samsung',
       'brand_name_Vivo'],
      dtype='object')

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 833 entries, 0 to 1364
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ratings             833 non-null    float64
 1   RAM                 833 non-null    int32
 2   ROM                 833 non-null    int32
 3   Mobile_Size         833 non-null    float64
 4   Primary_Cam         833 non-null    int32
 5   Selfi_Cam           833 non-null    int32
 6   Battery_Power       833 non-null    int32
 7   Price($)            833 non-null    float64
 8   brand_name_Apple    833 non-null    bool
 9   brand_name_Nokia    833 non-null    bool
 10  brand_name_Oppo     833 non-null    bool
 11  brand_name_Redmi    833 non-null    bool
 12  brand_name_Samsung  833 non-null    bool
 13  brand_name_Vivo     833 non-null    bool
dtypes: bool(6), float64(3), int32(5)
memory usage: 47.2 KB

In [131]:
best_model.predict([[4.0, 8, 4, 3.4, 1200, 12.0, 8.0, 1, 0, 0, 0, 0, 0]])

C:\SLIIT\3rd year 2nd semester july\FDM\fdm project\Mobile Phone Price Prediction\model\env\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([17013.20849362])

In [69]:
from sklearn.model_selection import cross_val_

In [70]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

cross_val_score(lr,x,y,cv=5).mean()

0.9903163380664799

In [71]:
from sklearn.linear_model import Lasso

lasso = LinearRegression()
cross_val_score(lasso,x,y,cv=5).mean()

0.9903163380664799

In [72]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
cross_val_score(dt,x,y,cv=5).mean()

0.9995458421958411

In [73]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
cross_val_score(rf,x,y,cv=5).mean()

0.9996149552804671